<ngx-loading [show]="loading"></ngx-loading>
<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>About the tool</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container">
        <h2>Password generator</h2>
        <p class="lead">Thank you for using this tool.</p>
        <p>It was developed in the scope of my master's thesis.</p>
        <p>In this tool you can find three methods of generating passwords:</p>
        <ul>
          <li>Using random characters - this method is used to create password consist of characters chosen randomly from defined groups.</li>
          <li>Using random words - method creates password consists of random polish words with given character replacements.</li>
          <li>Using song lyrics - this way of creating password uses the chosen song's verse from the random song of given artist.
            <i>(Note: the method of fetching lyrics isn't quite stable and sometimes you may meet some problems)</i></li>
        </ul>
        <p>The main goal of this tool is checking the capabilities of man to remembering passwords because there's no safer place to keep the passwords than your brain 🙂</p>
        <p class="lead">Your tasks:</p>
        <ul>
          <li>Generate password using random words</li>
          <li>Generate password using song's lyrics</li>
          <li>Try to remember both passwords. Use the context or funny stories which will help you with that</li>
          <li>Go to the "Memory Test" tab and give your mail address when you feel ready</li>
          <li>Fill the survey placed below</li>
          <li>You will be asked for providing these passwords after 1, 3 and 7 days to check how good you remember them</li>
          <li>If you want to get your results, please send a mail with your test ID <a href="mailto:pg.master.thesis.pass.gen@gmail.com">here</a>.</li>
        </ul>
        <ngb-alert type="info" class="mt-2" [dismissible]="false">
          <p>Please, fill out this survey regarding the use of this tool. It will help me in my studies and help to improve the generator in the future.</p>
          <p>The survey is used in the tests has been written in polish.</p>
          <a href="https://www.surveygizmo.com/s3/4541048/Badanie-zadowolenia-u-ytkownik-w-z-u-ywania-generatora-hase">Lint to survey.</a>
        </ngb-alert>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random characters</b></ng-template>
    <ng-template ngbTabContent>
      <ngb-alert type="secondary" [dismissible]="false">
        <div class="content">
          <p class="lead">
            Generate the password from random letters.
          </p>
          <p>On this tab, you can generate the password using random letters.
            This kind of passwords is really hard to remember and should be used only in password managers.
          </p>
          <p>Set the password's length (minimal length is 20 characters) and couple character groups.
            Every group would be used in the password creation process. The more character you use, the safer password you would create.
            At least one group must be present.</p>
          <p>Only distinct characters are taken into account in the metrics estimation.</p>
          <i>This password is <b>not</b> taken into account in the test.</i>
        </div>
      </ngb-alert>
      <form [formGroup]="rc_form">
        <div class="form-group">
          <input formControlName="password_length" id="passwordLength" class="form-control" placeholder="Password length"
                 type="number" min="20" aria-label="Password length" data-toggle="tooltip" data-placement="top"
                 title="Password length (min. 20 characters)"
                 [ngClass]="{'is-invalid': rc_form.controls.password_length.errors}">
          <small class="form-text text-muted">Password length. Minimum 20 characters.</small>
        </div>
        <div formArrayName="character_groups" *ngFor="let group of rc_form.get('character_groups').controls; let i = index;">
          <div [formGroupName]="i" class="form-row">
            <div class="form-group col-md-11">
              <label for="characterGroup">Group of characters number {{i+1}}</label>
              <textarea class="form-control" formControlName="value" placeholder="Character group"
                        id="characterGroup" aria-label="Character group"
                        data-toggle="tooltip" data-placement="top" title="Character group"
                        [ngClass]="{'is-invalid': group.controls.value.errors}" required></textarea>
              <small class="form-text text-muted">Group of characters used to password creation. Each group will be used at least once in the password.</small>
            </div>
            <button type="button" class="btn btn-danger delete-button" (click)="removeRCCharacterGroup(i)" *ngIf="rc_character_groups.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRCCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character group
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRCSubmit()">Generate password</button>
      </form>
      <p>
        <ngb-alert [type]="rc_password_alert_type" *ngIf="rc_show_generation_results" [dismissible]="false">
          <h3 class="alert-heading">{{rc_password.password}}</h3>
          <b>Estimated password cracking time: </b> {{rc_password.crackingTime}} years
          <div>
            <b>Is the password safe for <a href="https://haveibeenpwned.com/Passwords">haveibeenpwned.com</a>: </b>
            <span *ngIf="rc_password.isSafe; else rc_isNotSafe">
              <i class="fa fa-check-circle" style="color:green"></i>
            </span>
            <ng-template #rc_isNotSafe>
              <i class="fa fa-times-circle-o" style="color:red"></i>
            </ng-template>
          </div>
          <div class="col-md-5">
            <b>Password strength estimation from <a href="https://github.com/dropbox/zxcvbn">zxcvbn</a>: </b>
            <password-strength-meter [password]="rc_password.password"></password-strength-meter>
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words</b></ng-template>
    <ng-template ngbTabContent>
      <ngb-alert type="secondary" [dismissible]="false">
        <div class="content">
          <p class="lead">
            Generate the password from random polish words.
          </p>
          <p>On this tab, you can generate the password using random polish words.
          </p>
          <p>Set the password's length (minimal length is 12 characters) and rules of characters replacement.
            For every rule, you have to set the possible replacements and the chance of rule to be applied.</p>
          <p>Rules are case-insensitive, letter capitalization property can be set in the next section where you have 3 options to choose from:</p>
          <ul>
            <li>random character size</li>
            <li>camelCase</li>
            <li>everyWORDinDIFFERENTsize</li>
          </ul>
          <p>At least one replacement rule must be present.</p>
          <i>This password is taken into account in the test.</i>

          <p>If you want to participate in the memory test, please try to memorize the generated password.
            You can generate it several times until you get the one you want to use in the test.</p>
          <i>Suggestion: To improve your memorizing possibilities you can create the story or add some context to the password.</i>
        </div>
      </ngb-alert>
      <form [formGroup]="rw_form">
        <div class="form-group">
          <input formControlName="password_length" id="rwPasswordLength" class="form-control" placeholder="Password length"
                 type="number" min="12" data-toggle="tooltip" data-placement="top" title="Password length (min. 12 characters)"
                 [ngClass]="{'is-invalid': rw_form.controls.password_length.errors}"/>
          <small class="form-text text-muted">Password length. Minimum 12 characters.</small>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwRandom" value="random" checked>
                <label class="form-check-label" for="rwRandom">
                  RaNDom
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwCamel" value="camel">
                <label class="form-check-label" for="rwCamel">
                  camelCase
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwWords" value="words">
                <label class="form-check-label" for="rwWords">
                  wordsRANDOMLY
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div formArrayName="character_mappings" *ngFor="let group of rw_form.get('character_mappings').controls; let i = index;">
          <div [formGroupName]="i" class="form-row">
            <div class="form-group col-md-2">
              <input class="form-control" id="rwMappedCharacter" type="text" maxlength="1"
                     placeholder="Mapped character" formControlName="character" data-toggle="tooltip" data-placement="top" title="Mapped single character"
                     [ngClass]="{'is-invalid': group.controls.character.errors}">
              <small class="form-text text-muted">Character to replace</small>
            </div>
            <div class="form-group col-md-7">
              <input class="form-control" id="rwMapping" type="text" placeholder="Mappings"
                     formControlName="mapping" data-toggle="tooltip" data-placement="top" title="Characters which could replace given character"
                     [ngClass]="{'is-invalid': group.controls.mapping.errors}">
              <small class="form-text text-muted">Replacements of the character given earlier</small>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input type="number" id="rwMappingChance" class="form-control" placeholder="Mapping chance"
                       min="0" max="100" formControlName="chance" aria-describedby="rwMappingChancePercent"
                       data-toggle="tooltip" data-placement="top" title="Chance of given character replacement"
                       [ngClass]="{'is-invalid': group.controls.chance.errors}">
                <div class="input-group-append">
                  <div id="rwMappingChancePercent" class="input-group-text">%</div>
                </div>
                <small class="form-text text-muted">Replacement chance</small>
              </div>
            </div>
            <button type="button" class="btn btn-danger delete-button delete-button-narrow" (click)="removeRWCharacterGroup(i)" *ngIf="rw_character_mappings.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRWCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character mapping
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRWSubmit()">Generate password</button>
      </form>
      <p>
        <ngb-alert [type]="rw_password_alert_type" *ngIf="rw_show_generation_results" [dismissible]="false">
          <h3 class="alert-heading">
            <b *ngFor="let passwordWord of rw_password.passwordWords; let i = index;" [style.color]="rw_password.colors[i]">{{passwordWord.trim()}}</b>
          </h3>
          <span *ngFor="let usedWord of rw_password.usedWords; let i = index;" [style.color]="rw_password.colors[i]">
            {{usedWord}}
          </span>
          <br />
          <b>Estimated cracking time: </b> {{rw_password.crackingTime}} years
          <div>
            <b>Is the password safe for <a href="https://haveibeenpwned.com/Passwords">haveibeenpwned.com</a>: </b>
            <span *ngIf="rw_password.isSafe; else rw_isNotSafe">
              <i class="fa fa-check-circle" style="color:green"></i>
            </span>
            <ng-template #rw_isNotSafe>
              <i class="fa fa-times-circle-o" style="color:red"></i>
            </ng-template>
          </div>
          <div class="col-md-5">
            <b>Password strength estimation from <a href="https://github.com/dropbox/zxcvbn">zxcvbn</a>: </b>
            <password-strength-meter [password]="rw_password.password"></password-strength-meter>
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Song's lyrics</b></ng-template>
    <ng-template ngbTabContent>
      <ngb-alert type="secondary" [dismissible]="false">
        <div class="content">
          <p class="lead">
            Generate the password from the chosen verse of a random song.
          </p>
          <p>On this tab, you can generate the password using the song of your favorite artist.</p>
          <p>
            To get to the password settings, you must get the song's lyrics. To do this type the name of your favorite artist and click "Get song lyrics" button.
            <i>Note: this tool uses lyrics.wikia service to get the lyrics.
              Unfortunately, this service doesn't contain all songs and sometimes it's worth to try getting the lyrics couple times or consider changing the artist.</i>
          </p>
          <p>
            Next, choose the song's verse which will be used for password generation. Only unique and longer than the given length lines can be selected.
          </p>
          <p>When you have the lyrics, you can set the password's length (minimal length is 12 characters) and rules of characters replacement.
            For every rule, you have to set the possible replacements and the chance of rule to be applied.</p>
          <p>Rules are case-insensitive, letter capitalization property can be set in the next section where you have 3 options to choose from:</p>
            <ul>
              <li>random character size</li>
              <li>camelCase</li>
              <li>everyWORDinDIFFERENTsize</li>
            </ul>
          <p>At least one replacement rule must be present.</p>
          <i>This password is taken into account in the test.</i>

          <p>If you want to participate in the memory test, please try to memorize the generated password.
            You can generate it several times until you get the one you want to use in the test.</p>
          <i>Suggestion: To improve your memorizing possibilities you can create the story or add some context to the password.</i>
        </div>
      </ngb-alert>
      <form [formGroup]="rwfs_form">
        <div class="form-group">
          <input formControlName="password_length" id="rwfsPasswordLength" class="form-control" placeholder="Password length"
                 type="number" min="12" data-toggle="tooltip" data-placement="top" title="Password length (min. 12 characters)"
                 [ngClass]="{'is-invalid': rwfs_form.controls.password_length.errors}">
          <small class="form-text text-muted">Minimal password length (min. 12 characters)</small>
        </div>
        <div class="form_group">
          <input formControlName="artist" id="rwfsArtist" class="form-control" placeholder="Artist name" type="text" data-toggle="tooltip" data-placement="top" title="Artist name"
                 [ngClass]="{'is-invalid': rwfs_form.controls.artist.errors}">
          <small class="form-text text-muted">Artist name. One of his songs is going to be used to create a password. Lyrics comes from <a href="http://lyrics.wikia.com">Lyrics Wikia</a>.</small>
        </div>
        <button type="button" class="btn btn-primary mt-2" (click)="onGetLyricsSubmit()">Get song lyrics</button>
        <div *ngIf="rwfs_show_generate_password_phase">
          <fieldset class="form-group my-3">
            <ngb-alert class="form-group" type="info" [dismissible]="false">
              <h5>
                Song lyrics, please choose one phrase which will be used to create a password.
                Only distinct lines with greater or equal to given password length are enabled to check.
              </h5>
            </ngb-alert>
            <h4 class="col-md-12">{{rwfs_song_lyrics.songName}}</h4>
            <div>
              <div class="form-check col-md-12" *ngFor="let lyrics of rwfs_song_lyrics.lyrics; let i = index; let isLast = last;">
                <div *ngIf="getEffectiveLineLength(lyrics) > 0">
                  <div *ngIf="!wasLyricsLineUsed(lyrics, isLast) && getEffectiveLineLength(lyrics) >= rwfs_form.get('password_length').value; else repeated_line">
                    <input type="radio" class="form-check-input" name="lyricsLine" [id]="'lyricsLine' + i"
                           value="{{lyrics}}" formControlName="lyricsLine">
                  </div>
                  <ng-template #repeated_line>
                    <div class="form-check-input" [id]="'lyricsLine' + i"></div>
                  </ng-template>
                  <label class="form-check-label" [for]="'lyricsLine' + i">
                    <pre>{{lyrics}}</pre>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsRandom" value="random" checked>
                  <label class="form-check-label" for="rwfsRandom">
                    RaNDom
                  </label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsCamel" value="camel">
                  <label class="form-check-label" for="rwfsCamel">
                    camelCase
                  </label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsWords" value="words">
                  <label class="form-check-label" for="rwfsWords">
                    wordsRANDOMLY
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div formArrayName="character_mappings" *ngFor="let group of rwfs_form.get('character_mappings').controls; let i = index;">
            <div [formGroupName]="i" class="form-row">
              <div class="form-group col-md-2">
                <input class="form-control" id="rwfsMappedCharacter" type="text" maxlength="1"
                       placeholder="Mapped character" formControlName="character" data-toggle="tooltip" data-placement="top" title="Mapped single character"
                       [ngClass]="{'is-invalid': group.controls.character.errors}">
                <small class="form-text text-muted">Character to replace</small>
              </div>
              <div class="form-group col-md-7">
                <input class="form-control" id="rwfsMapping" type="text" placeholder="Mappings"
                       formControlName="mapping" data-toggle="tooltip" data-placement="top" title="Characters which could replace given character"
                       [ngClass]="{'is-invalid': group.controls.mapping.errors}">
                <small class="form-text text-muted">Replacements of the character given earlier</small>
              </div>
              <div class="form-group col-md-2">
                <div class="input-group">
                  <input type="number" id="rwfsMappingChance" class="form-control" placeholder="Mapping chance"
                         min="0" max="100" formControlName="chance" aria-describedby="rwfsMappingChancePercent"
                         data-toggle="tooltip" data-placement="top" title="Chance of given character replacement"
                         [ngClass]="{'is-invalid': group.controls.chance.errors}">
                  <div class="input-group-append">
                    <div id="rwfsMappingChancePercent" class="input-group-text">%</div>
                  </div>
                  <small class="form-text text-muted">Replacement chance</small>
                </div>
              </div>
              <button type="button" class="btn btn-danger delete-button delete-button-narrow" (click)="removeRWFSCharacterGroup(i)" *ngIf="rwfs_character_mappings.length > 1">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success" (click)="addRWFSCharacterGroup()">
              <i class="fas fa-plus"></i>
              Add character mapping
            </button>
          </div>
          <button type="button" class="btn btn-primary" (click)="onRWFSSubmit()">Generate password</button>
        </div>
      </form>

      <p>
        <ngb-alert [type]="rwfs_password_alert_type" *ngIf="rwfs_show_generation_results" [dismissible]="false">
          <div>
            <h3 class="alert-heading">
              <b *ngFor="let passwordWord of rwfs_password.passwordWords; let i = index;" [style.color]="rwfs_password.colors[i]">{{passwordWord.trim()}}</b>
            </h3>
            <span *ngFor="let usedWord of rwfs_password.usedWords; let i = index;" [style.color]="rwfs_password.colors[i]">
              {{usedWord}}
            </span>
            <br />
            <b>Estimated cracking time: </b> {{rwfs_password.crackingTime}} years
            <div>
              <b>Is the password safe for <a href="https://haveibeenpwned.com/Passwords">haveibeenpwned.com</a>: </b>
              <span *ngIf="rwfs_password.isSafe; else rwfs_isNotSafe">
                <i class="fa fa-check-circle" style="color:green"></i>
              </span>
              <ng-template #rwfs_isNotSafe>
                <i class="fa fa-times-circle-o" style="color:red"></i>
              </ng-template>
            </div>
            <div class="col-md-5">
              <b>Password strength estimation from <a href="https://github.com/dropbox/zxcvbn">zxcvbn</a>: </b>
              <password-strength-meter [password]="rwfs_password.password"></password-strength-meter>
            </div>
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Test your memory</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container">
        <h2>Memory test</h2>
        <p class="lead">On this tab, you can test your memory.</p>
        <p>Here you schedule the test, which is to check the dependency between the password generation method and the ease of remembering it by a man.</p>
        <p>Please generate a password with words-based methods and provide your e-mail address.</p>
        <p>Creation of short story or correlation between parts of the password is recommended. This might help to remember the passwords.</p>
        <ngb-alert type="info" [dismissible]="false">
          <p>After 1, 3 and 7 days you will be asked to enter these passwords to check how they are memorized.</p>
          <b>Please don't use these passwords. They are generated only to test purposes.</b>
        </ngb-alert>
        <form [formGroup]="test_form" (submit)="sendTestData()">
        <div class="form-group">
          <label for="words">Password from random word</label>
          <input id="words" formControlName="random_words" class="form-control" type="text" placeholder="Password from random words" readonly
                 [ngClass]="{'is-invalid': test_form.controls.random_words.errors}">
        </div>
        <div class="form-group">
          <label for="song">Password from song lyrics</label>
          <input id="song" formControlName="words_from_song" class="form-control" type="text" placeholder="Password from song" readonly
                 [ngClass]="{'is-invalid': test_form.controls.words_from_song.errors}">
        </div>
        <div class="form-group">
          <label for="test-email">E-mail</label>
          <input id="test-email" formControlName="email" class="form-control" type="email" placeholder="E-mail"
                 [ngClass]="{'is-invalid': test_form.controls.email.errors}">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
