<ngx-loading [show]="loading"></ngx-loading>
<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random characters</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rc_form">
        <div class="form-group">
          <input formControlName="password_length" id="passwordLength" class="form-control" placeholder="Password length"
                 type="number" min="20" aria-label="Password length" data-toggle="tooltip" data-placement="top"
                 title="Password length (min. 20 characters)">
          <small class="form-text text-muted">Password length. Minimum 20 characters (10 for memory test).</small>
        </div>
        <div formArrayName="character_groups" *ngFor="let group of rc_form.get('character_groups').controls; let i = index;">
          <div [formGroupName]="i" class="form-row">
            <div class="form-group col-md-11">
              <label for="characterGroup">Group of characters number {{i+1}}</label>
              <textarea class="form-control" formControlName="value" placeholder="Character group"
                        id="characterGroup" aria-label="Character group"
                        data-toggle="tooltip" data-placement="top" title="Character group"></textarea>
              <small class="form-text text-muted">Group of characters used to password creation. Each group will be used at least once in the password.</small>
            </div>
            <button type="button" class="btn btn-danger delete-button" (click)="removeRCCharacterGroup(i)" *ngIf="rc_character_groups.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRCCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character group
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRCSubmit()">Submit</button>
      </form>
      <p>
        <ngb-alert [type]="rc_password_alert_type" *ngIf="rc_show_generation_results" [dismissible]="false">
          <h3 class="alert-heading">{{rc_password.password}}</h3>
          <password-strength-meter [password]="rc_password.password"></password-strength-meter>
          <b>Entropy: </b> {{rc_password.entropy}}
          <div>
            <b>Is the password safe: </b> {{rc_password.isSafe}}
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rw_form">
        <div class="form-group">
          <input formControlName="password_length" id="rwPasswordLength" class="form-control" placeholder="Password length"
                 type="number" min="10" data-toggle="tooltip" data-placement="top" title="Password length (min. 10 characters)" />
          <small class="form-text text-muted">Password length. Minimum 10 characters.</small>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwRandom" value="random" checked>
                <label class="form-check-label" for="rwRandom">
                  RaNDom
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwCamel" value="camel">
                <label class="form-check-label" for="rwCamel">
                  CamelCase
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwCase" formControlName="rwCase" id="rwWords" value="words">
                <label class="form-check-label" for="rwWords">
                  wordsRANDOMLY
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div formArrayName="character_mappings" *ngFor="let group of rw_form.get('character_mappings').controls; let i = index;">
          <div [formGroupName]="i" class="form-row">
            <div class="form-group col-md-2">
              <input class="form-control" id="rwMappedCharacter" type="text" maxlength="1"
                     placeholder="Mapped character" formControlName="character" data-toggle="tooltip" data-placement="top" title="Mapped single character">
              <small class="form-text text-muted">Character to replace</small>
            </div>
            <div class="form-group col-md-7">
              <input class="form-control" id="rwMapping" type="text" placeholder="Mappings"
                     formControlName="mapping" data-toggle="tooltip" data-placement="top" title="Characters which could replace given character">
              <small class="form-text text-muted">Replacements of the character given earlier</small>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input type="number" id="rwMappingChance" class="form-control" placeholder="Mapping chance"
                       min="0" max="100" formControlName="chance" aria-describedby="rwMappingChancePercent"
                       data-toggle="tooltip" data-placement="top" title="Chance of given character replacement">
                <div class="input-group-append">
                  <div id="rwMappingChancePercent" class="input-group-text">%</div>
                </div>
                <small class="form-text text-muted">Replacement chance</small>
              </div>
            </div>
            <button type="button" class="btn btn-danger delete-button delete-button-narrow" (click)="removeRWCharacterGroup(i)" *ngIf="rw_character_mappings.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRWCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character mapping
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRWSubmit()">Submit</button>
      </form>
      <p>
        <ngb-alert [type]="rw_password_alert_type" *ngIf="rw_show_generation_results" [dismissible]="false">
          <h3 class="alert-heading">
            <b *ngFor="let passwordWord of rw_password.passwordWords; let i = index;" [style.color]="rw_password.colors[i]">{{passwordWord.trim()}}</b>
          </h3>
          <span *ngFor="let usedWord of rw_password.used_words; let i = index;" [style.color]="rw_password.colors[i]">
            {{usedWord}}
          </span>
          <br />
          <b>Entropy: </b> {{rw_password.entropy}}
          <div>
            <b>Is the password safe: </b> {{rw_password.isSafe}}
          </div>
          <password-strength-meter [password]="rw_password.password"></password-strength-meter>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Random words from songs</b></ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="rwfs_form">
        <div class="form-group">
          <input formControlName="password_length" id="rwfsPasswordLength" class="form-control" placeholder="Password length"
                 type="number" min="10" data-toggle="tooltip" data-placement="top" title="Password length (min. 10 characters)">
          <small class="form-text text-muted">Password length (min. 10 characters)</small>
        </div>
        <div class="form_group">
          <input formControlName="artist" id="rwfsArtist" class="form-control" placeholder="Artist name" type="text" data-toggle="tooltip" data-placement="top" title="Artist name">
          <small class="form-text text-muted">Artist name. One of his songs is going to be used to create a password. Lyrics comes from <a href="http://lyrics.wikia.com">Lyrics Wikia</a>.</small>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Case sensitivity</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsRandom" value="random" checked>
                <label class="form-check-label" for="rwfsRandom">
                  RaNDom
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsCamel" value="camel">
                <label class="form-check-label" for="rwfsCamel">
                  CamelCase
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="rwfsCase" formControlName="rwfsCase" id="rwfsWords" value="words">
                <label class="form-check-label" for="rwfsWords">
                  wordsRANDOMLY
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div formArrayName="character_mappings" *ngFor="let group of rwfs_form.get('character_mappings').controls; let i = index;">
          <div [formGroupName]="i" class="form-row">
            <div class="form-group col-md-2">
              <input class="form-control" id="rwfsMappedCharacter" type="text" maxlength="1"
                     placeholder="Mapped character" formControlName="character" data-toggle="tooltip" data-placement="top" title="Mapped single character">
              <small class="form-text text-muted">Character to replace</small>
            </div>
            <div class="form-group col-md-7">
              <input class="form-control" id="rwfsMapping" type="text" placeholder="Mappings"
                     formControlName="mapping" data-toggle="tooltip" data-placement="top" title="Characters which could replace given character">
              <small class="form-text text-muted">Replacements of the character given earlier</small>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input type="number" id="rwfsMappingChance" class="form-control" placeholder="Mapping chance"
                       min="0" max="100" formControlName="chance" aria-describedby="rwfsMappingChancePercent"
                       data-toggle="tooltip" data-placement="top" title="Chance of given character replacement">
                <div class="input-group-append">
                  <div id="rwfsMappingChancePercent" class="input-group-text">%</div>
                </div>
                <small class="form-text text-muted">Replacement chance</small>
              </div>
            </div>
            <button type="button" class="btn btn-danger delete-button delete-button-narrow" (click)="removeRWFSCharacterGroup(i)" *ngIf="rwfs_character_mappings.length > 1">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="addRWFSCharacterGroup()">
            <i class="fas fa-plus"></i>
            Add character mapping
          </button>
        </div>
        <button type="button" class="btn btn-primary" (click)="onRWFSSubmit()">Submit</button>
      </form>

      <p>
        <ngb-alert [type]="rwfs_password_alert_type" *ngIf="rwfs_show_generation_results" [dismissible]="false">
          <div>
            <h3 class="alert-heading">
              <b *ngFor="let passwordWord of rwfs_password.passwordWords; let i = index;" [style.color]="rwfs_password.colors[i]">{{passwordWord.trim()}}</b>
            </h3>
            <span *ngFor="let usedWord of rwfs_password.used_words; let i = index;" [style.color]="rwfs_password.colors[i]">
              {{usedWord}}
            </span>
            <br />
            <b>Entropy: </b> {{rwfs_password.entropy}}
            <div>
              <b>Is the password safe: </b> {{rwfs_password.isSafe}}
            </div>
            <password-strength-meter [password]="rwfs_password.password"></password-strength-meter>

            <div class="alert-heading">
              <h4>{{rwfs_password.song_name}}</h4>
              <pre>{{rwfs_password.lyrics}}</pre>
            </div>
          </div>
        </ngb-alert>
      </p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Test your memory</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container">
        <span>
          <h5>On this tab you can test your memory.</h5>
          <p>Please generate a password using every available method and provide your e-mail address.</p>
          <p><b>Before confirming this dialog, please be sure you remember the passwords. There is no possibility to go back to them.</b></p>
          <p>For passwords based on words, creation of short story or correlation between parts of password is recommended.</p>
          <p>After 1, 3 and 7 days you'll be asked for providing these passwords to check the degree of remembering them.</p>
        </span>
        <div class="border">
          <form [formGroup]="test_form" (submit)="sendTestData()">
            <div class="form-group">
              <label for="random">Password from random characters</label>
              <input id="random" formControlName="random_characters" class="form-control" type="text" placeholder="Password from random characters" readonly>
            </div>
            <div class="form-group">
              <label for="words">Password from random word</label>
              <input id="words" formControlName="random_words" class="form-control" type="text" placeholder="Password from random words" readonly>
            </div>
            <div class="form-group">
              <label for="song">Password from song lyrics</label>
              <input id="song" formControlName="words_from_song" class="form-control" type="text" placeholder="Password from song" readonly>
            </div>
            <div class="form-group">
              <label for="test-email">E-mail</label>
              <input id="test-email" formControlName="email" class="form-control" type="email" placeholder="E-mail">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
